
<section id="espacios-header" class="header-with-background">
    
    <a href="ciudad" class="link-up" ng-click="closeRelatos()">{{ 'menu.CIUDAD' | translate }}</a>  

</section>


<section id="espacios-index">

    <h1 class="page-title">{{ 'espacios.ESPACIOS' | translate }}</h1>

    <div class="list">

        <div class="wrap">
            <a ng-repeat="item in espaciosData" href="espacio/{{ item.id }}" ng-click="closeRelatos()">
            	<div class="image" style="background-image: url({{ item.image_url }})"></div>
            	<h2>{{ item.name }}</h2>
            </a>
        </div>

    </div> 

</section>
