<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <base href="/2017/ciudadmigrante/www/">
    <!-- <base href="/test/ciudadmigrante/"> -->
    <title>Ciudad Migrante</title>

    <!-- Le styles -->
    <link href="js/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="js/node_modules/simplebar/dist/simplebar.css" rel="stylesheet">
    <link href="js/node_modules/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="js/pages/espacios/espacios.css" rel="stylesheet">
    <link href="js/pages/ciudad/ciudad.css" rel="stylesheet">
    <link href="js/pages/espacio/espacio.css" rel="stylesheet">
    <link href="js/pages/participa/participa.css" rel="stylesheet">
    <link href="js/pages/relato/relato.css" rel="stylesheet">
    <link href="js/pages/creditos/creditos.css" rel="stylesheet">

	<link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body class="loading" ng-app="myApp" translate-cloak>

    <header>
        
        <a href="espacios" id="logo" title="{{ 'textos comunes.logo' | translate }}"><img ng-src="images/logo_{{ lang }}.png" alt="{{ 'textos comunes.logo' | translate }}"></a>

        <nav id="menu-1" class="preload">
            <span class="languages">
                <a href="javascript:" data-language="es">ES</a> 
                <span class="separator">|</span> 
                <a href="javascript:" data-language="ca">CAT</a>
            </span>

            <span class="share" title="COMPARTIR">
                <span class="links">
                    <a href="#"><img src="images/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="images/twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="images/google-plus.png" alt="Google+"></a>
                    <a href="#"><img src="images/youtube.png" alt="Youtube"></a>
                    <a href="#"><img src="images/vimeo.png" alt="Vimeo"></a>
                    <a href="#"><img src="images/mail.png" alt="E-mail"></a>
                </span>
            </span>
            <a href="javascript:" ng-click="goBack()" class="back" title="{{ 'menu.volver' | translate }}"></a>
        </nav>

        <nav id="menu-2">
             <a href="participa">{{ 'menu.PARTICIPA' | translate }}</a>
        </nav>

    </header>


    <section id="intro">
        <div class="description">
            <img ng-src="images/logo_{{ lang }}.png" alt="{{ 'textos comunes.logo' | translate }}" class="logo">
            <div class="text" translate="intro.descripcion" translate-type="richeditor">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <a href="javascript:" ng-click="closeIntro()" class="next"></a>
        <span class="languages">
            <a href="javascript:" data-language="es">ES</a> 
            <span class="separator">|</span> 
            <a href="javascript:" data-language="ca">CAT</a>
        </span>
        <div class="overlay"></div>
        <div class="videoWrapper">
            <div id="intro-player"></div>
        </div>
    </section>


    <main ng-view></main>


    <nav id="menu-relatos">
        <a href="creditos" class="creditos">{{ 'menu.CREDITOS' | translate }}</a>
        <a class="toggle">{{ 'menu.RELATOS' | translate }}</a>
        <div class="faces" data-simplebar data-simplebar-autohide="false">
            <a ng-repeat="item in relatosData" href="relato/{{ item.id }}">
                <h3>{{ item.name }}</h3>
                <img src="{{ item.image_url }}" alt="{{ item.name }}">
            </a>
        </div>
    </nav>
		

    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Libraries -->
    <script src="js/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="js/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/node_modules/angular/angular.min.js"></script>
    <script src="js/node_modules/angular-route/angular-route.min.js"></script>
    <script src="js/node_modules/angular-translate/dist/angular-translate.min.js"></script>
    <script src="js/node_modules/angular-translate/dist/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
    <script src="js/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="js/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ9dDH5IkSmHc4VbRYXUKhX6p9BlXeWZk&libraries=places"></script>
    <script src="http://www.youtube.com/player_api"></script>
    

    <!-- Angular Application -->
    <script src="js/config/config.js"></script>
    <script src="js/config/api.js"></script>
    <script src="js/config/map.js"></script>
    <script src="js/app.js"></script>

    <!-- Pages Controllers -->
    <script src="js/pages/espacios/espacios-controller.js"></script>
    <script src="js/pages/participa/participa-controller.js"></script>
    <script src="js/pages/ciudad/ciudad-controller.js"></script>
    <script src="js/pages/relato/relato-controller.js"></script>
    <script src="js/pages/espacio/espacio-controller.js"></script>
    <script src="js/pages/creditos/creditos-controller.js"></script>
    
    <!-- Services -->
    <!-- more libraries -->
    <script src="js/node_modules/simplebar/dist/simplebar.js"></script>
    <script src="js/node_modules/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>

</body>
</html>