
<section id="ciudad-header" class="header-with-background">
    
    <a href="espacios" class="link-up">ESPACIOS</a>  

</section>


<section id="ciudad-map">

	<h1 class="page-title">CIUDAD</h1>
    
	<aside>
		<div class="handle"></div>

		<div class="column">
			<div class="categories" data-simplebar data-simplebar-autohide="false">
				<a class="checked">Servicio de acogida</a>
				<a class="">Cursos de lengua</a>
				<a class="">Jurídico</a>
				<a class="">laboral</a>
				<a class="">vivienda</a>
				<a class="">atención social</a>
				<a class="">Pisos de acogida</a>
				<a class="">mujeres</a>
				<a class="">Educación no formal</a>
				<a class="">Salud</a>
				<a class="">otros</a>
			</div>

			<div class="markers">
				<a 
					class="yellow" 
					ng-class="selectedFilters.relatos ? 'checked' : ''" 
					ng-click="onFilterClick('relatos')" 
					>Relatos migrantes</a>
				<a 
					class="blue" 
					ng-class="selectedFilters.ayuda ? 'checked' : ''" 
					ng-click="onFilterClick('ayuda')" 
					>Ayuda solidaria</a>
				<a 
					class="green" 
					ng-class="selectedFilters.espacios ? 'checked' : ''"
					ng-click="onFilterClick('espacios')" 
					>Espacios</a>
			</div>
		</div>

	</aside>	

	<main>
		<div id="map"></div>
	</main>

</section>
