
<section id="ciudad-header" class="header-with-background">
    
    <a href="espacios" class="link-up">ESPACIOS</a>  

</section>


<section id="ciudad-map">

	<h1 class="page-title">CIUDAD</h1>
    
	<aside>
		<div class="handle"></div>

		<div class="column">
			<div class="categories" data-simplebar data-simplebar-autohide="false">
				<a 	
					ng-repeat="item in categoriesData" 
					ng-class="selectedCategories[item.id] ? 'checked' : ''" 
					ng-click="onCategoryClick(item.id)"
					>{{ item.name }}</a>
			</div>

			<div class="markers">
				<a 
					class="yellow" 
					ng-class="selectedFilters.relatos ? 'checked' : ''" 
					ng-click="onFilterClick('relatos')" 
					>Relatos migrantes</a>
				<a 
					class="blue" 
					ng-class="selectedFilters.ayuda ? 'checked' : ''" 
					ng-click="onFilterClick('ayuda')" 
					>Ayuda solidaria</a>
				<a 
					class="green" 
					ng-class="selectedFilters.espacios ? 'checked' : ''"
					ng-click="onFilterClick('espacios')" 
					>Espacios</a>
			</div>
		</div>

	</aside>	

	<main>
		<div id="map"></div>
	</main>

</section>
