
body.page-ciudad > main {
	padding: 0 0 80px 0;
}
body.page-ciudad > nav.stories {
	display: block;
}

h1.page-title.ciudad {
	position: absolute;
}

section#ciudad-map {
	position: relative;
	height: 100%;

}
section#ciudad-map > aside {
	position: absolute;
	transform: translateX(calc(-100% + 0px));
	background-color: #2c333c;
	height: 100%;
	width: 286px;
	transition: all 0.35s cubic-bezier(.26,1,1,1);
	z-index: 100;
}
section#ciudad-map > aside.expanded {
	transform: translateX(0);
}
section#ciudad-map > aside .handle {
	background-color: #2c333c;
	width: 80px;
	height: 160px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(99%, -50%);
	border-radius: 0 80px 80px 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 20px;;;;;;
}
section#ciudad-map > aside .handle::before {
	content: "";
	width: 47px;
	height: 68px;
	display: inline-block;
	position: relative;
	background-image: url(../../images/ciudad/filters-handle.png);
	background-repeat: no-repeat;
	transition: all 0.35s cubic-bezier(.26,1,1,1);
	/*perspective: 5px;*/
}
section#ciudad-map > aside.expanded .handle::before {
	transform: rotateY(180deg);
}



section#ciudad-map > aside .column {
	margin: 100px 0 0 0;
	max-height: calc(100% - 100px);
	display: flex;
	flex-direction: column;;;
}


section#ciudad-map > aside .categories {
	position: relative;
	overflow-y: auto;
	padding-left: 79px;;;
}
section#ciudad-map > aside .categories a {
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 25px;
	position: relative;
	display: block;
	color: #c7c7c7;
	cursor: pointer;
	font-family: 'DIN Next LT Pro Condensed';
}
section#ciudad-map > aside .categories a:last-child {
	margin-bottom: 0;
}
section#ciudad-map > aside .categories a:hover,
section#ciudad-map > aside .categories a.checked {
	color: #ffffff;
}
section#ciudad-map > aside .categories a:active, 
section#ciudad-map > aside .categories a:focus {  
	color: #fef02e;
}
section#ciudad-map > aside .categories a::before {
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
	border: 6px solid #ffffff;
	margin: 0px 0 0 -39px;
	border-radius: 50%;
	background-color: #b7b7b7;
	z-index: 2;
}
section#ciudad-map > aside .categories a.checked::before {
	background-color: #000000;
}
section#ciudad-map > aside .categories a:not(:last-child):after {
	content: '';
	position: absolute;
	height: calc(100% + 30px);
	border-left: 5px solid #ffffff;
	left: -30px;
	top:9px;
	z-index: 1;;
}

section#ciudad-map > aside .markers {
	padding-left: 79px;
	padding: 40px 0 15px 79px;;;
}
section#ciudad-map > aside .markers a {
	display: block;
	background-repeat: no-repeat;
	background-size: auto 35px;
	padding: 5px 10px 5px 39px;
	font-size: 18px;
	text-transform: uppercase;
	margin-left: -40px;
	min-height: 36px;
	margin-bottom: 4px;
	color: #c7c7c7;
	cursor: pointer;
}
section#ciudad-map > aside .markers a.yellow {
	background-image: url(../../images/marker-yellow.png);
}
section#ciudad-map > aside .markers a.green {
	background-image: url(../../images/marker-green.png);
}
section#ciudad-map > aside .markers a.blue {
	background-image: url(../../images/marker-blue.png);
}
section#ciudad-map > aside .markers a:hover,
section#ciudad-map > aside .markers a.checked {
	color: #ffffff;
}
section#ciudad-map > aside .markers a:active, 
section#ciudad-map > aside .markers a:focus {  
	color: #fef02e;
}




section#ciudad-map > main {
	height: 100%;
	background-color: #2c333c;

}
#map {
	height: 100%;
}
#map > div {
	background: transparent !important;
}
#map .gm-style > div > div > div > div > div:not(.gm-style-iw) {
	background-color: #203041;
}
#map .gm-style > div > div > div > div > div > img {
	mix-blend-mode: luminosity;
}


/* google maps InfoWindow */
.gm-style .gm-style-iw {
	width: 294px;
	top: 14px !important;
	left: 15px !important;;
	background-color: #fff;
	color: #2d343d;
	font-size: 14px;
	padding: 12px 12px 4px 12px;
	z-index: 1;
}
.gm-style .gm-style-iw > div:first-child {
	max-width: 100% !important;
}
.gm-style .gm-style-iw a {
	color: #2d343d;
}
.gm-style .gm-style-iw h2 {
	font-size: 24px;
}
.gm-style .gm-style-iw .lead {
	font-size: 16px;
	margin-bottom: 4px;
}
.gm-style .gm-style-iw .web {
	text-align: center;
	margin-bottom: 2px;
	margin-top: 6px;
}
.gm-style .gm-style-iw .web a {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url('../../images/icon_link.png');
	background-repeat: no-repeat;
}
.gm-style .gm-style-iw a.relato {
	display: block;
	width: 100%;
}
.gm-style .gm-style-iw a.relato::before {
	content:"";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background-image:url(../../images/icon-play.png);
}
.gm-style .gm-style-iw a.espacio h2 {
	position: absolute;
	z-index: 1;
	bottom: 0px;
	color: #ffffff;
	right: 30px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);;;;;
}

/* remove close button */
.gm-style .gm-style-iw + div {
    display: none;
}

.gm-style .gm-style-iw > div > div {
	overflow-x: hidden !important;
}
.gm-style-pbc + div + div > div:nth-child(4) > div {
	width: auto !important;
}
/* triangle */
.gm-style-pbc + div + div > div:nth-child(4) > div > div:nth-child(1) {
	/*z-index: 2;*/
}
/* shadow DIV */
.gm-style-pbc + div + div > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(2) {
	width: 295px !important;
	left: 15px !important;
	top: 14px !important;
	background-color: rgba(0,0,0,0.1) !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 2px !important;;;
	/*background: transparent !important;*/
}
/* Remove the white background DIV */
.gm-style-pbc + div + div > div:nth-child(4) > div > div:nth-child(1) > div:nth-child(4) {
	display: none;
	/*border: 1px solid red;*/
}


/* mobile */

@media screen and (max-width: 1200px) {

}


/* mobile */

body.page-ciudad > header {
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.25);
	position: relative;
	background-image: url(../../images/header-map.gif);
	z-index: 102;

}