
/* header elements */

body.page-relato #menu-1 .share {
	display: inline-block; 
}
body.page-relato #menu-1 .back {
	display: inline-block; 
}
body.page-relato.prev-page-espacios #menu-relatos,
body.page-relato.prev-page-ciudad #menu-relatos {
	display: block;
	z-index: 0;
}


/* page transition espacios > ciudad */

/* The starting CSS styles for the enter animation */
body.page-relato .ng-enter {
	z-index: 1;
}


section#relato-video {
	z-index: 1;
	position: relative;
}
section#relato-video > aside {
	position: absolute;
	background-color: rgba(44,51,60,0.87);
	height: 100%;
	width: 448px;
	transition: all 0.35s cubic-bezier(.26,1,1,1);
	z-index: 100;
	padding-right: 15px;
	transform: translateX(calc(-100% + 15px));
	padding: 50px 15px 5px 60px;
	display: flex;
	flex-direction: column;
	max-width: calc(100% - 50px);;;;
}
section#relato-video > aside.expanded {
	transform: translateX(0);
}
section#relato-video > aside .handle {
	background-color: rgba(44,51,60,0.87);
	width: 50px;
	height: 100px;
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translate(99%, -50%);
	border-radius: 0 50px 50px 0;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;;
	align-items: center;
}
section#relato-video > aside .handle::before {
	content: "";
	width: 34px;
	height: 34px;
	display: inline-block;
	position: relative;
	background-image: url(../../../images/ico_mas_lateral.png);
	background-repeat: no-repeat;
}
section#relato-video > aside.expanded .handle::before {
	background-image: url(../../../images/ico_menos_lateral.png);
}

section#relato-video > aside .logo {
	display: block;
	margin-bottom: 40px;
}
section#relato-video > aside h1 {
	padding-right: 45px;
}
section#relato-video > aside h2 {
}
section#relato-video > aside .scroll {
	overflow-y: auto;
	margin-right: 45px;
	margin-bottom: 50px;
}
section#relato-video > aside .description {
}

section#relato-video > main {
	background-color: #000000;
}



@media screen and (max-width: 1600px) {

	section#relato-video > aside {
		width: 279px;
	}

	section#relato-video > aside .logo img {
		width: 196px;
	}

	section#relato-video > aside h1 {
		font-size: 25px;
	}

	section#relato-video > aside h2 {
		font-size: 15px;
	}

	section#relato-video > aside .handle {
		height: 62px;
		width: 31px;
	}
	section#relato-video > aside .handle::before {
		height: 21px;
		width: 21px;
		background-size: 100%;;
	}

}