

<section id="participa">
	
	<header>
		
		<div class="container">
		    <h1>Participa. propón un punto de ayuda solidAria y la pondremos en el mapa</h1>
		    <div class="description">
		    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
		    </div>
		</div><!-- /.container -->

	</header>


	<main>
		

		<div class="container">

			<div class="row is-flex">
				
				<div class="col-md-6 form">
					
					<form id="participa-form" ng-submit="submitForm()">
						
						<div class="form-group">
							<label>Nombre de la entidad *</label>
							<input type="text" class="form-control" ng-model="name">
						</div>
						
						<div class="form-group">
							<label>Tipo de ayuda *</label>
							<div class="multiselect">
								<select 
									id="categories-multiselect" 
									class="form-control" 
									multiple="multiple"
									ng-options="item.name for item in categoriesData track by item.id"
									ng-model="selectedCategories">
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label>Dirección completa *</label>
							<input id="participa-direccion" type="text" class="form-control" ng-model="direccion">
						</div>
						
						<div class="form-group">
							<label>Web *</label>
							<input type="url" class="form-control" ng-model="web">
						</div>
						
						<div class="form-group">
							<label>E-mail </label>
							<input type="email" class="form-control" ng-model="email">
						</div>
						
						<div class="form-group">
							<label>Teléfono</label>
							<input type="text" class="form-control" ng-model="telefono">
						</div>
						
						<div class="form-group">
							<label>Tú nombre *</label>
							<input type="text" class="form-control" ng-model="usuario_nombre">
						</div>
						
						<div class="form-group">
							<label>Tú email *</label>
							<input type="email" class="form-control" ng-model="usuario_email">
						</div>

						<p class="text-right">
							<button type="submit" class="btn">Enviar</button>
						</p>

					</form>
				</div>
				

				<div id="participa-map" class="col-md-6 google-map"></div>

			</div>
		
		</div><!-- /.container -->

	</main>

</section>

			
	