
<section id="espacio-images">
    
    <span id="image-1" class="item" style="transform: translateY(10%) rotateY(20deg); z-index: 1;">
        <a class="marker" href="#image-5" style="    top: 3%;
    left: 7%;
    width: 16%;
    height: 32%;"></a>
        <img ng-click="scrollTo('image-1')" src="dummy-data/espacio/i1.jpg" alt="">
    </span>
    
    <span id="image-2" class="item" style="transform: translateY(-10%) rotateY(-2deg); z-index: 2;">
        <img ng-click="scrollTo('image-2')" src="dummy-data/espacio/i2.jpg" alt="">
    </span>
    
    <span id="image-3" class="item" style="transform: translateY(12%) rotateY(-20deg); z-index: 1;">
        <img ng-click="scrollTo('image-3')" src="dummy-data/espacio/i3.jpg" alt="">
    </span>
    
    <span id="image-4" class="item" style="transform: translateY(-18%) rotateY(12deg);">
        <a class="marker" href="javacript:" style="top: 11%;
    left: 15%;
    width: 19%;
    height: 37%;"></a>
        <img ng-click="scrollTo('image-4')" src="dummy-data/espacio/i4.jpg" alt="">
    </span>
    
    <span id="image-5" class="item" style="transform: translateY(2%) rotateY(-2deg); z-index: 2">
        <img ng-click="scrollTo('image-5')" src="dummy-data/espacio/i5.jpg" alt="">
    </span>
    
    <span id="image-6" class="item" style="transform: translateY(-10%) rotateY(-20deg); z-index: 1">
        <a class="marker" href="javacript:" style="    
    top: 36%;
    left: 40%;
    width: 18%;
    height: 33%;"></a>
        <img ng-click="scrollTo('image-6')" src="dummy-data/espacio/i6.jpg" alt="">
    </span>
    

</section>


<section id="espacio-description">
    
    <h1>Ciudad | diálogos migrantes</h1>

    <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla. </p>
    </div>

</section>



<section id="espacio-links">
    <a href="javascript:">ver video making of</a>
    <a href="javascript:">localizar en la ciudad</a>
</section>

