
<section id="espacio-images">
    
    <span ng-repeat="item in espaciosData[id].images" id="image-{{ $index }}" class="item" style="transform: translateY(10%) rotateY(20deg); z-index: 1;">
        <a ng-show="item.image['marco_x1']" class="marker" href="{{ item.image['marco_url'] }}" style="
            top: {{ item.image['marco_x1'] }}%;
            left: {{ item.image['marco_y1'] }}%;
            width: {{ item.image['marco_x2'] - item.image['marco_x1'] }}%;
            height: {{ item.image['marco_y2'] - item.image['marco_y1'] }}%;
            z-index: {{ item.image['z_index'] }};"></a>
        <img ng-click="scrollTo('image-' + $index)" src="{{ item.image.path }}" alt="">
    </span>
    

</section>


<section id="espacio-description">
    
    <h1>{{ espaciosData[id].name }}</h1>

    <div class="description" ng-bind-html="trustAsHtml(espaciosData[id].descripcion)"></div>

</section>



<section id="espacio-links">
    <a href="javascript:">ver video making of</a>
    <a href="javascript:">localizar en la ciudad</a>
</section>

